.flight-show{

  .card-image {
    width: 100%;
    height: $img-height;
    object-fit: cover;
  }

  .card {
    padding: $padding;
    top: -100px;
  }

  .card-body{
    flex-grow: 0;
    padding: $padding;
    & > div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color:$black;
    }
    .avatar {
      position: unset;
    }
    h4{
      font-weight: lighter;
    }
  }
}
