<section class="flight-new">
  <div class="container">
    <div class="card">
      <h3 class="text-center">Create a new Flight</h3>
      <%= render 'form', flight: @flight %>
    </div>
  </div>
</section>
