<div class="banner">
  <div class="banner-content">
    <h1>WingX</h1>
    <p>Your private flight, right here, right now.</p>
    <%= link_to 'Flights', flights_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>


