<section>
  <div class="container">
    <div class="card-order">
      <h2>My company's orders</h2>
      <% @company.orders.each do |order| %>
        <%= order.flight.origin %>
      <% end %>
    </div>
  </div>
</section>
