<section class="company-order">
  <div class="container">
      <h2>My company's orders</h2>
      <div class="row">
      <% @company.orders.each do |order| %>
    <div class="card col-xs-3">
        <h4>Client: <%= order.user.name %></h4>
        <p>Seats bought: <%= order.passenger_number %></p>
        <h4><strong>TOTAL: <%= order.flight.billed %></strong></h4>
    </div>
      <% end %>
      </div>
  </div>
</section>
