.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: ($font-size * 4);
  font-weight: bold;
  text-shadow:$text-shadow
}
.banner p {
  font-size: ($font-size * 2);
  font-weight: lighter;
  color: $white;
  opacity: 0.6;
  margin-bottom: ($padding * 2);
}
