$card-size: 320px;
$card-footer: 60px;

.card {
  margin: $padding;
  box-shadow: $box-shadow;
  transition: all 0.3s ease;
  border-radius: 10px;
  min-height: $card-size;
  overflow: hidden;
  position: relative;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  background-color:$white;
}
.card-body{
  background-size: cover;
  color: white;
  position: relative;
  flex-grow:1;
  background-position: center;
  background-repeat: no-repeat;

  .avatar{
    right: $padding;
    position: absolute;
    bottom: (-.5*$avatar-size);
  }
}

// Footer
.card-fotter{
  flex-basis: $card-footer;
  padding: $padding;

  .info{
    font-size: medium;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
  }
}


// Card Link
.card-link {
  background: $black;
  bottom: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  width: 100%;
  z-index: 2;

  &:hover {
    opacity: 0.3;
  }
}
