$avatar-size: 42px;
$navbar-bg-color: $white;
$navbar-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
$navbar-item: 56px;


/* Main navbar */
.navbar-wagon {
  align-items: center;
  background: $navbar-bg-color;
  box-shadow: $navbar-box-shadow;
  display: flex;
  height: $navbar-size;
  justify-content: space-between;
  padding: 0 ($padding * 2);
  transition: all 0.3s ease;
  a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.navbar-wagon-transparent{
  background: transparent;
  box-shadow: none;
  a {
    color: $white;
  }
  .navbar-wagon-dropdown-menu {
  box-shadow: none;
  a {
    color: $black !important;
  }
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: $navbar-item;
}

/* User Avatar */
.navbar-wagon .avatar {
  border-radius: 50%;
  height: $avatar-size;
  width: $avatar-size;
}

/* Right section */
.navbar-wagon-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 $padding;
}

/* Navbar link */
.navbar-wagon-link:focus,
.navbar-wagon-link {
  color: $grey;
  text-decoration: none;
}
.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  border-color: $border-color;
  box-shadow: $box-shadow;
  margin-top: $padding;
}
.navbar-wagon-dropdown-menu li > a {
  color: $gray !important;
  font-size: $font-size !important;
  font-weight: lighter !important;
  line-height: ($navbar-item / 2) !important;
  padding: ($padding / 2) $padding;
  transition: color 0.3s ease;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $black !important;
}
.navbar-wagon-dropdown-menu:before {
  background-color: $white;
  border-left: $border;
  border-top: $border;
  content: ' ';
  height: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
  width: 10px;
}
