$button-size: 40px;
.form-container {
  padding: ($padding * 2);
  min-height: auto;
}
.header {
  margin-bottom: $padding;

  p{
    font-size: small;
    font-weight: lighter;
  }
}
.header-row {
  display: flex;
  align-items: center;

  .big-bold {
    font-weight: bold;
    font-size: ($font-size*1.5);
    margin-right: ($padding/2)
  }

  .small-light {
    font-size: $font-size;
    font-weight: lighter;
    color: $grey;
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $padding;
  font-size: $font-size;

  #counter {
    margin: 0 $padding;
  }

  .btn-round {
    border: $border;
    border-radius: 50%;
    width: $button-size;
    color: $grey;
    height: $button-size;
  }
}
.submit {
  width: 100%;
  margin-top: $padding;
}




